body {
  font-family: sans-serif;
  text-align: center;
  background: #111;
  color: #fff;
  padding-top: 50px;
}

#clicker, #upgrade {
  padding: 10px 20px;
  margin: 10px;
  font-size: 18px;
  cursor: pointer;
}
